<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <h1>Recipe Book</h1>
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        *ngIf="isAuth"
      >
        <li>
          <a
            routerLinkActive="active"
            class="nav-link px-2"
            routerLink="recipes"
            >Recipes</a
          >
        </li>
        <li>
          <a
            routerLink="shopping-list"
            routerLinkActive="active"
            class="nav-link px-2"
            >Shopping List</a
          >
        </li>
      </ul>

      <div class="text-end" *ngIf="isAuth">
        <a class="" (click)="onSaveData()">Save</a>
        <a class="mx-2" (click)="onFetchData()">Fetch</a>
        <a class="text-danger" (click)="onLogout()">Logout</a>
      </div>
    </div>
  </div>
</header>
