
$color-primary: #f00;
$color-secondary: #0f0;
$color-tertiary: #00f;

/* Color Theme Swatches in HSLA */
$recipe-1: hsl(90, 96%, 12%);
$recipe-2: hsl(78, 96%, 22%);
$recipe-3: hsl(22, 96%, 38%);
$recipe-4: hsl(22, 96%, 22%);
$recipe-5: hsl(22, 11%, 49%);
