<div class="row">
  <div class="col-12">
    <form >
      <div class="row">
        <div class="col-sm-5 form-group">
          <label class="form-label" for="">Name</label>
          <input id="name" type="text" class="form-control">
        </div>

        <div class="col-sm-2 form-group">
          <label for="" class="form-label">Amount</label>
          <input id="amount" type="number" class="form-control">

        </div>
      </div>

      <div class="row">
        <div class="col-12 mt-3">
          <button class="btn btn-success">Add</button>
          <button class="btn btn-danger">Delete</button>
          <button class="btn btn-primary">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
